/*Fonts - from google fonts

Logo -  Open Sans
H1 - PT Sans
P - Source Sans Pro
Button - Bold Source Sans Pro
Nav + menu title - Extra light source sans pro
Under searchbar + menu links - light source sans pro

font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
------------------------
Colors




*/

html, body{
	height: 100%;
	margin: 0;
}

#topnav{
	/*float: right;*/
	display: flex;
	margin: 10px;
	margin-top: 20px;
	position: absolute;
	right: 0;
	/*z-index: 1;*/
}

#topnav div{ 
	margin: 0 5px 0 20px;
	/*background-color: green;*/
	display: flex;
	justify-content: center;
	align-items: center;
	color: darkgrey;
}


#topnav i:hover{
	cursor: pointer;
}

#hero h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	color: #444;
	font-weight: 300;
}

#herotext{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 19px;
}

#herotext a{
	color: blue;
	text-decoration: none;
}

#herotext a:hover{
	text-decoration: underline;
}

#herotext:visited{
	color: blue;
}

#menu i{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	width: 30px;
	border-radius: 5px;
	/*background-color: yellow;
	color: pink;*/
}

#menu i:hover{
	animation: all;
	transition: 0.2s;
	background-color: darkgrey;
	color: white;
}

#tw:hover{
	color: grey;
	cursor: pointer;
}

#social:hover{
	color: grey;
	cursor: pointer;
}

#privacy{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	font-size: 15px;
}

#privacy:hover{
	cursor: pointer;
	color: grey;
}

main{
	/*clear: right;*/
}

#hero{
	display: flex;
  height: 100vh;
  margin: 0;
  justify-content: center;
	align-items: center;
	background-color:#F7F7F7;
	flex-direction: column;
}

#heroduck{
	height: 120px;
	width: 120px;
}

#search{
	width: 90%;
	max-width: 600px;
	display: flex;
	flex-direction: row;
	border: 1px solid darkgrey;
	border-radius: 5px;
	box-shadow: 0px 2px 0px darkgrey;
	
}

input{
	width: 100%;
	height: 43px;
	border-radius: 5px 0px 0px 5px;
	border: solid 1px white;
	padding-left: 20px;
	outline: none;

}

input::-webkit-search-cancel-button{
    position:relative;
    right:20px;
    height: 20px;
    width: 20px;
    background-color: green;    
}

#mag{
	position: relative;
	right: 1px;
	color: darkgrey;
	background-color: white;
	margin: auto;
	padding: 6px 4px 5px 9px;
	border-radius: 0px 5px 5px 0px;
	}

#mag:hover{
	background-color: green;
	color: white;
	cursor: pointer;
}	

#herotext{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#teaser{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	top: 100px;
}

#teaser img{/*w160 h120*/
	width: 85px;
	height: 70px;
	z-index: 1;
}

#teaser i{
	position: relative;
	top: -11px;
	z-index: 3;
	color: white;
}

#blackspace{
	height: 32px;
	width: 32px;
	position: relative;
	background-color: black;
	top: -35px;
	border-radius: 50%;
	z-index: 2;
}
/*----------------------------------*/

.bigfont{
	font-family: 'PT Sans', sans-serif;
	font-size: 40px;
	text-align: center;
}

.sectionfont{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	text-align: center;

}

.bigbutton{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 19px;
	font-weight: 600;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.4);
	border: none;
	outline: none;
	color: white;
}

.bigbutton:hover{
	background-color: rgba(0,0,0,0.6);
}

.bigbutton:active{
	background-color: rgba(0,0,0,0.5);
	transform: translateY(1px);
}

.scale{
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.imgscale{
	width: 100%;
	height: 250px;

}

.uptop{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;

}

#second{
	display: flex;
  height: 90vh;
  margin: 0;
  color: white;
	background-color: #58B792;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	
}

#third{
	display: flex;
  height: 90vh;
  margin: 0;
  color: white;
	background-color: #F5A339;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	
}

#fourth{
	display: flex;
  height: 90vh;
  margin: 0;
  color: white;
	background-color: #5F63BD;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	
}

#fifth{
	display: flex;
  height: 100vh;
  margin: 0;
  color: #365374;
	background-color: #87CEF5;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	
}

#morelinks{
	position: absolute;
	right: 20px;
	color: #365374;
	padding: 20px;
	font-family: 'Source Sans Pro', sans-serif;
}

#morelinks a:visited{
	color: #365374;
}

#link1{
	text-decoration: none;
}

#link1:hover{
	text-decoration: underline;
}

#link2{
	text-decoration: none;
	font-weight: 600;
}

#link2:hover{
	text-decoration: underline;
}